body{
    background-color: pink;
}

@font-face {
    font-family: beafont;
    src: url(/static/font/Baefont_normal-Regular_V1.ttf);
}
/* Page_box */
.page_box{
    background-color: rgb(67, 37, 133);
    height: 720px;
    width: 101.04%;
    margin: 0px;
    margin-left: -7.7px;
    box-sizing: border-box;
    padding: 0.1px;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: cover;
}
#box_homepage{
    margin-top: -8px;
    background-color: rgb(133, 37, 133);
}
#box_aboutme{
    background-color: rgb(133, 111, 37);
}
#box_mycode{
    background-color: rgb(37, 133, 130);
}
#box_article{
    background-color: rgb(133, 67, 37);
}
#box_information{
    background-color: rgb(37, 58, 133);
    height: 150px;
}

/* menu */
.menu{
    height: 80px;
    width: 101.04%;
    margin: 0px;
    border: 0px;
    margin-top: -8px;
    margin-left: -7.7px;
    background-color: rgba(83, 80, 80, 0.429);
    display: flex;
    position: fixed;
}
.menu_textbox{
    margin-top: 30px;
    margin-left: 60%;
}
.menu_tbox{
    display: inline;
}
.menu_text{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 550;
    font-family: sans-serif;
    display: inline-block;
    
}

/* Home_page */

#box_homepage{
    background-image: url(/static/img/illust_94506059_20220323_020733.jpg);
}

#homepage_coverbox{
    margin-top: 500px;
    vertical-align: middle;
    width: 100%;
    height: auto;
    /* background-color: rgba(0, 0, 0, 0.39); */
    box-sizing: border-box;
    padding: 0.1px;

}

/* .coverbox{
    width: 100%;
    height: 50%;
    background-color: rgba(0, 0, 0, 0.39);
    box-sizing: border-box;
    padding: 0.1px;
} */
.title{
    color: white;
    font-size: 110px;
    font-weight: 700;
    font-family: sans-serif;
    display: inline-block;
} 
#cover_title{
    margin-left: 5%;
}

#cover_text{
    margin-left: 62%;
}
/* About_me */
#box_aboutme{
    /* background-image: url(/static/img/skybg.jpg); */
}
.aboutme_photo{
    border-radius: 150px;
    background: #fff;
    height: 290px;
    width: 290px;
    margin-top: 220px;
    margin-left: 200px;
}
.photo{
    height: 300px;
    width: auto;
    margin-top: -5px;
    margin-left: -5px;
}